  .bm-menu-wrap {
    position: fixed;
    margin-top: 75px;
    height: 100%;
  }

  .bm-menu {
    opacity: 1;
    background: #020818;
    margin-top: '10px';
    height: 100px;
  }

  .bm-morph-shape {
  }
  .bm-item-list {
    color: #b8b7ad;
    padding: 0.8em;
  }

.menu-item {
  color: rgb(255, 255, 255);
}